{
  "plugins": [
    "cypress"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "react-hover-video-player"
        ]
      }
    ]
  }
}