{
  "env": {
    "jest": true
  },
  "plugins": [
    "testing-library"
  ],
  "rules": {
    "testing-library/await-async-query": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debug": "warn",
    "no-param-reassign": "off"
  }
}
