.Container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.Container.HasDarkenedBackground {
  background-color: rgba(0, 0, 0, .7);
}

.Spinner {
  animation-name: spinner-rotate-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinner-rotate-animation {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.SpinnerCircle {
  fill: transparent;
  stroke: white;
  stroke-width: 1px;
  stroke-dasharray: 57;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  stroke-dashoffset: 18;
}
.SpinnerCircle.ShouldAnimateStroke {
  animation-name: spinner-stroke-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spinner-stroke-animation {
  0%,
  20% {
    stroke-dashoffset: 54;
    transform: rotate(0);
  }

  60%,
  80% {
    stroke-dashoffset: 14;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 54;
    transform: rotate(360deg);
  }
}