.sidebar {
  width: 18rem;
}

.sidebar-nav ul li {
  line-height: 1em;
  padding: 0;
  transition: opacity 0.2s;
}

.sidebar-nav ul li:hover {
  opacity: 0.9;
}

.sidebar-nav .section-link {
  padding: 0.2em 0.4em;
}

.sidebar-nav > ul > li {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.sidebar-nav > ul > ul > li {
  font-size: 1.1em;
  margin-top: 0.4em;
}

.sidebar-nav > ul > ul > ul > li {
  font-size: 1em;
  margin-top: 0.2em;
}

.markdown-section h2 {
  margin: 32px 0 8px;
}

.markdown-section h3 {
  margin: 24px 0 8px;
}
