.PausedOverlay {
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.GalleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 320px) {
    grid-template-columns: 1fr;
  }
}